[Unit]
Description=Demonio que comprueba si el proceso asociado está lanzado o el JAR ha cambiado
[Service]
User=root
WorkingDirectory=/home/github_runners/Reaktor_TimetableServer/actions-runner/_work/Reaktor_TimetableServer/Reaktor_TimetableServer/src/main/resources/scripts
ExecStart=/bin/bash /home/github_runners/Reaktor_TimetableServer/actions-runner/_work/Reaktor_TimetableServer/Reaktor_TimetableServer/src/main/resources/scripts/reaktor_timetableserver.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
