[Unit]
Description=Servicio Reaktor TimetableServer
[Service]
User=root
WorkingDirectory=/home/github_runners/Reaktor_TimetableServer/actions-runner/_work/Reaktor_TimetableServer/Reaktor_TimetableServer/src/main/resources/scripts
ExecStart=/bin/bash /home/github_runners/Reaktor_TimetableServer/actions-runner/_work/Reaktor_TimetableServer/Reaktor_TimetableServer/src/main/resources/scripts/reaktor_timetableserver.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target