[Unit]
Description=Servicio Reaktor TimetableServer
[Service]
User=root
WorkingDirectory=/root/servicios
ExecStart=/bin/bash /root/servicios/reaktor_timetableserver.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target